.container-sj {
  max-width: 1500px;
  margin: 0 auto;
  padding: var(--sj-gap);
}

.section-sj {
  margin-bottom: 40px;
}

.grid-sj {
  display: grid;
  gap: var(--sj-gap);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
