.table-sj {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--sj-radius);
  overflow: hidden;
  border: 1px solid var(--sj-gris-azulado);
}

.table-sj thead {
  background-color: var(--sj-gris-azulado);
  color: var(--sj-azul);
  font-weight: 600;
}

.table-sj th,
.table-sj td {
  padding: 14px;
  border-bottom: 1px solid var(--sj-gris-azulado);
}

.table-sj tr:hover {
  background-color: var(--sj-gris-azulado);
}
