.tabs-sj {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.tab-sj {
  padding: 10px 18px;
  border-radius: var(--sj-radius);
  background-color: var(--sj-gris-azulado);
  color: var(--sj-azul);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.tab-sj.active {
  background-color: var(--sj-azul);
  color: white;
}
